  {% extends 'base/base.html.twig' %}

{% block css %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="/css/admin.css" />
{% endblock %}

{% block title %}
Admin
{% endblock %}

{% block header %}

<nav class="navbar-fixed">
    <ul class="menu">
        <li class="menu"><img class="logo" src="/img_site/Winer.png" alt="winer" /></li>
        <li class="menu"><a href="/home" class="menu">Accueil</a></li>
        <li class="menu"><a href="{{ path('admin_hub') }}" class="menu">Admin Hub</a></li>
        {% if not(app.session.get("user")) %}
        <li><a href="/login">Connexion</a></li>
        <li><a href="/signup">inscription</a></li>
        {% endif %}
        {% if app.session.get("user") %}
        <li><a href="/logout">Déconnexion</a></li>
        <li id="username"><a href="/profile" title="Voir profil">{{app.session.get("user").getUsername}}</a></li>
        {% endif %}
        {% if app.session.get("user") and app.session.get("user").getIsAdmin %}
        <li id="username"><a href="{{ path('alcool_list_admin') }}" class="menu">Liste Alcools</a></li>
        <li><a href="{{ path('new') }}" class="menu">Ajouter Alcool</a></li>
        <li><a href="/admin/list/users" class="menu">Liste Utilisateurs</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}

{% block main %}
{% if app.session.get("user") and app.session.get("user").getIsAdmin %}
  <img src='/img_site/power.gif' id='selector'/>
{% else %}
  <img src='/img_site/nopower.gif' id='selector'/>
{% endif %}
{% endblock %}
