{% extends 'base/base.html.twig' %}

{% block css %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="/css/list.css" />
{% endblock %}

{% block article %}


<div class="grid grid-pad">
{% for alc in alcool_list %}



<a href="{{ path('alcool_show', {'name': alc.name }) }}" title="{{alc.name}}"><img src="/img_alcool/{{ alc.imglink }}" class="alcool"></a>



{% endfor %}

<div class="pagination">

    {% if page != 1 %}
      <a href="{{ path('alcool_list', {'page': page-1}) }}"><<</a>
    {% endif %}
{% if nbrAlcool//18+1 <=10 %}
  {% if nbrAlcool%18==0 %}
    {% for i in 1..(nbrAlcool//18) %}

    {% if i==page %}
      <a class="active" href="{{ path('alcool_list', {'page': i}) }}">{{i}}</a>
    {% else %}
      <a href="{{ path('alcool_list', {'page': i}) }}">{{i}}</a>
    {% endif %}
    {% endfor %}
  {% else %}
    {% for i in 1..(nbrAlcool//18+1) %}

    {% if i==page %}
      <a class="active" href="{{ path('alcool_list', {'page': i}) }}">{{i}}</a>
    {% else %}
      <a href="{{ path('alcool_list', {'page': i}) }}">{{i}}</a>
    {% endif %}
    {% endfor %}
  {% endif %}
{% else %}
  {% if page==1 %}
    <a class="active" href="{{ path('alcool_list', {'page': 1}) }}">{{1}}</a>
    <a href="{{ path('alcool_list', {'page': 2}) }}">{{2}}</a>
    <a href="{{ path('alcool_list', {'page': 3}) }}">{{3}}</a>
  {% elseif page==2 %}
    <a href="{{ path('alcool_list', {'page': 1}) }}">{{1}}</a>
    <a class="active" href="{{ path('alcool_list', {'page': 2}) }}">{{2}}</a>
    <a href="{{ path('alcool_list', {'page': 3}) }}">{{3}}</a>
  {% elseif page==3 %}
    <a href="{{ path('alcool_list', {'page': 1}) }}">{{1}}</a>
    <a href="{{ path('alcool_list', {'page': 2}) }}">{{2}}</a>
    <a class="active" href="{{ path('alcool_list', {'page': 3}) }}">{{3}}</a>
    <a href="{{ path('alcool_list', {'page': 4}) }}">{{4}}</a>
  {% elseif page==4 %}
    <a href="{{ path('alcool_list', {'page': 1}) }}">{{1}}</a>
    <a href="{{ path('alcool_list', {'page': 2}) }}">{{2}}</a>
    <a href="{{ path('alcool_list', {'page': 3}) }}">{{3}}</a>
    <a class="active" href="{{ path('alcool_list', {'page': 4}) }}">{{4}}</a>
    <a href="{{ path('alcool_list', {'page': 5}) }}">{{5}}</a>
  {% else %}
    <a href="{{ path('alcool_list', {'page': 1}) }}">{{1}}</a>
    <a href="{{ path('alcool_list', {'page': 2}) }}">{{2}}</a>
    <a href="{{ path('alcool_list', {'page': 3}) }}">{{3}}</a>
  {% endif %}
    <a>...</a>
  {% if nbrAlcool%18==0 %}
    {% if page >4 and page<(nbrAlcool/18-3) %}
    <a href="{{ path('alcool_list', {'page': page-1}) }}">{{page-1}}</a>
    <a href="{{ path('alcool_list', {'page': page}) }}">{{page}}</a>
    <a href="{{ path('alcool_list', {'page': page+1}) }}">{{page+1}}</a>
    {% endif %}
  {% else %}
    {% if page >4 and page<(nbrAlcool//18-3+1) %}
    <a href="{{ path('alcool_list', {'page': page-1}) }}">{{page-1}}</a>
    <a href="{{ path('alcool_list', {'page': page}) }}">{{page}}</a>
    <a href="{{ path('alcool_list', {'page': page+1}) }}">{{page+1}}</a>
    {% endif %}
  {% endif %}
  {% if nbrAlcool%18==0 %}
    {% if page==nbrAlcool/18 %}
      <a href="{{ path('alcool_list', {'page': nbrAlcool/18-2}) }}">{{nbrAlcool/18-2}}</a>
      <a href="{{ path('alcool_list', {'page': nbrAlcool/18-1}) }}">{{nbrAlcool/18-1}}</a>
      <a class="active" href="{{ path('alcool_list', {'page': nbrAlcool/18}) }}">{{nbrAlcool/18}}</a>
    {% elseif page==nbrAlcool/18-1 %}
      <a href="{{ path('alcool_list', {'page': nbrAlcool/18-2}) }}">{{nbrAlcool/18-2}}</a>
      <a class="active" href="{{ path('alcool_list', {'page': nbrAlcool/18-1}) }}">{{nbrAlcool/18-1}}</a>
      <a href="{{ path('alcool_list', {'page': nbrAlcool/18}) }}">{{nbrAlcool/18}}</a>
    {% elseif page==nbrAlcool/18-2 %}
      <a href="{{ path('alcool_list', {'page': nbrAlcool/18-3}) }}">{{nbrAlcool/18-3}}</a>
      <a class="active" href="{{ path('alcool_list', {'page': nbrAlcool/18-2}) }}">{{nbrAlcool/18-2}}</a>
      <a href="{{ path('alcool_list', {'page': nbrAlcool/18-1}) }}">{{nbrAlcool/18-1}}</a>
      <a href="{{ path('alcool_list', {'page': nbrAlcool/18}) }}">{{nbrAlcool/18}}</a>
    {% elseif page==nbrAlcool/18-3 %}
      <a href="{{ path('alcool_list', {'page': nbrAlcool/18-4}) }}">{{nbrAlcool/18-4}}</a>
      <a class="active" href="{{ path('alcool_list', {'page': nbrAlcool/18-3}) }}">{{nbrAlcool/18-3}}</a>
      <a href="{{ path('alcool_list', {'page': nbrAlcool/18-2}) }}">{{nbrAlcool/18-2}}</a>
      <a href="{{ path('alcool_list', {'page': nbrAlcool/18-1}) }}">{{nbrAlcool/18-1}}</a>
      <a href="{{ path('alcool_list', {'page': nbrAlcool/18}) }}">{{nbrAlcool/18}}</a>
    {% else %}
      <a>...</a>
      <a href="{{ path('alcool_list', {'page': nbrAlcool/18-2}) }}">{{nbrAlcool/18-2}}</a>
      <a href="{{ path('alcool_list', {'page': nbrAlcool/18-1}) }}">{{nbrAlcool/18-1}}</a>
      <a href="{{ path('alcool_list', {'page': nbrAlcool/18}) }}">{{nbrAlcool/18}}</a>
    {% endif %}
  {% else %}
    {% if page==nbrAlcool//18+1 %}
      <a class="active" href="{{ path('alcool_list', {'page': nbrAlcool//18-2+1}) }}">{{nbrAlcool//18-2+1}}</a>
      <a href="{{ path('alcool_list', {'page': nbrAlcool//18-1+1}) }}">{{nbrAlcool//18-1+1}}</a>
      <a href="{{ path('alcool_list', {'page': nbrAlcool//18+1}) }}">{{nbrAlcool//18+1}}</a>
    {% elseif page==nbrAlcool//18-1+1 %}
      <a href="{{ path('alcool_list', {'page': nbrAlcool//18-2+1}) }}">{{nbrAlcool//18-2+1}}</a>
      <a class="active" href="{{ path('alcool_list', {'page': nbrAlcool//18-1+1}) }}">{{nbrAlcool//18-1+1}}</a>
      <a href="{{ path('alcool_list', {'page': nbrAlcool//18+1}) }}">{{nbrAlcool//18+1}}</a>
    {% elseif page==nbrAlcool//18-2+1 %}
      <a href="{{ path('alcool_list', {'page': nbrAlcool//18-3+1}) }}">{{nbrAlcool//18-3+1}}</a>
      <a class="active" href="{{ path('alcool_list', {'page': nbrAlcool//18-2+1}) }}">{{nbrAlcool//18-2+1}}</a>
      <a href="{{ path('alcool_list', {'page': nbrAlcool//18-1+1}) }}">{{nbrAlcool//18-1+1}}</a>
      <a href="{{ path('alcool_list', {'page': nbrAlcool//18+1}) }}">{{nbrAlcool//18+1}}</a>
    {% elseif page==nbrAlcool//18-3+1 %}
      <a href="{{ path('alcool_list', {'page': nbrAlcool//18-4+1}) }}">{{nbrAlcool//18-4+1}}</a>
      <a class="active" href="{{ path('alcool_list', {'page': nbrAlcool//18-3+1}) }}">{{nbrAlcool//18-3+1}}</a>
      <a href="{{ path('alcool_list', {'page': nbrAlcool//18-2+1}) }}">{{nbrAlcool//18-2+1}}</a>
      <a href="{{ path('alcool_list', {'page': nbrAlcool//18-1+1}) }}">{{nbrAlcool//18-1+1}}</a>
      <a href="{{ path('alcool_list', {'page': nbrAlcool//18+1}) }}">{{nbrAlcool//18+1}}</a>
    {% else %}
      <a href="{{ path('alcool_list', {'page': nbrAlcool//18-2+1}) }}">{{nbrAlcool//18-2+1}}</a>
      <a href="{{ path('alcool_list', {'page': nbrAlcool//18-1+1}) }}">{{nbrAlcool//18-1+1}}</a>
      <a href="{{ path('alcool_list', {'page': nbrAlcool//18+1}) }}">{{nbrAlcool//18+1}}</a>
    {% endif %}
  {% endif %}
{% endif %}
  {% if nbrAlcool - page * 18 >= 0 %}
    <a href="{{ path('alcool_list', {'page': page+1}) }}">>></a>
  {% endif %}


  </div>

</div>

{% endblock %}
